  <div class="page" (window:keydown)="keyListener(currentIndex, $event)">

    <!-- MODALE DELETE -->

    <app-modal-delete [idFile]="idFileDocument" [(isDelete)]="showDelete" (idDelete)="delete($event)"></app-modal-delete>

    <!-- LIGHTBOX -->
    <div class="lightbox" *ngIf="showMask">

      <div class="btn-lightbox">
        <div class="lightbox-bar">
          <button (click)="downloadFile()">
            <i class='bx bx-download'></i>
          </button>


          <button (click)="openDelete(currentDocument.id_file)">
            <i class='bx bx-trash-alt' ></i>
          </button>
        </div>

        <div class="btn-close">
          <button (click)="closeDocument()">
            <i class='bx bx-x'></i>
          </button>
        </div>
      </div>

      <pdf-viewer [src]="currentDocument.path"
              [render-text]="true"
              [original-size]="false"
              class="pdf-viewer"></pdf-viewer>
    </div>

    <!-- FILE UPLOAD -->

    <app-file-upload [formText]="titleText" (sendFormData)="onSubmit($event)"></app-file-upload>


    <!-- DISPLAY FILES -->

    <div class="file-card">

      <ng-container *ngIf="!check">
        <div class="noStoredFile">No {{titleText}}s stored</div>
      </ng-container>

      <div class="wrapper" *ngIf="check">

          <div class="document-element" *ngFor="let file of fileObject | slice:leftExtrem:rightExtrem + 1; index as fileNumber;">

            <div class="document-container">
              <span [title]="file.name" (click)="openDocument(fileNumber)">{{file.name}}</span>
              <button class="btn-delete-from-documents" (click)="openDelete(file.id_file)">
                <i class='bx bx-trash-alt delete-trash' ></i>
              </button>
            </div>

          </div>

      </div>

      <div class="pageNumbers">
        <div *ngFor="let page of pages; index as pageNumber">
          <button class="pageButton" (click)="changePage(pageNumber, 'click')">{{pageNumber + 1}}</button>
        </div>
      </div>

    </div>

  </div>
