<body>
  <div class="card">
    <h1>Purse</h1>

    <div class="card-head">Total amount</div>

    <div class="wrapper">
      <button class="btn-createNote" (click)="isOpen = !isOpen">
        <span *ngIf="!isOpen">
          <i class='bx bx-plus-medical'></i>
          Add movement
        </span>
        <span *ngIf="isOpen">
          <i class='bx bx-x'></i>
          Close
        </span>
      </button>

      <form #formDirective="ngForm" [formGroup]="purseForm" *ngIf="isOpen" (ngSubmit)="addMovement(purseForm.value)" novalidate>

        <div class="input-box-title">
          <input type="text" placeholder="Object" formControlName="object" required>
        </div>

        <div class="input-box-text">
          <input type="text" placeholder="Amount" formControlName="amount" required>
        </div>

        <button class="btn-createNote" type="submit" [disabled]="!purseForm.valid">Add movement</button>

      </form>
    </div>

    <ng-container *ngIf="!check">
        <div class="card-head">No movements yet</div>
    </ng-container>

    <ng-container *ngIf="check">
      <div class="container">
        <div class="movement" *ngFor="let movement of movements; index as movementNumber;">

          <div class="movement-header">
            <span class="movement-object">{{movement.object}}</span>
            <span class="movement-number">Movement #{{movementNumber + 1}}</span>
          </div>

          <div class="movement-amount">{{movement.amount}}</div>

          <div class="bottomMovement">

            <button class="btn-delete"  (click)="openDelete(movement.id_movement)">
              <i class='bx bx-x-circle'></i> Delete
            </button>

            <div class="modal" id="modalDelete">
              <div class="modalBlock">
                <h1>Delete</h1>
                <p>Do you really want to delete this movement?</p>
                <button class="btn-delete" (click)="delete(idMovement);">
                  <i class='bx bx-x-circle'></i> Delete
                </button>
                <button (click)="closeDelete()">Abort</button>
              </div>
            </div>


            <button class="btn-edit" (click)="isEdit = true" (click)="openEdit(movement.id_movement)">
              <i class='bx bx-x-circle'></i> Edit
            </button>

            <div class="modal" id="modalEdit">
              <div class="modalForm">
                <form #formDirective="ngForm" [formGroup]="editForm" *ngIf="isEdit" (ngSubmit)="edit(editForm.value, idMovement)" novalidate>
                  <div class="input-box-title">
                    <input type="text" placeholder="Object" formControlName="object" required>
                  </div>

                  <div class="input-box-text">
                    <input type="text" placeholder="Amount" formControlName="amount" required>
                  </div>

                  <button class="btn-editNote" type="submit" [disabled]="!editForm.valid">Edit</button>
                </form>
                <button (click)="isEdit = false" (click)="closeEdit()" >Abort</button>
              </div>
            </div>
          </div>

        </div>

      </div>
    </ng-container>
  </div>
</body>
