<div class="page" (window:keydown)="keyListener(currentIndex, $event)">


  <!-- MODALE DELETE -->

  <app-modal-delete [idFile]="idFileMovement" [(isDelete)]="showDelete" (idDelete)="delete($event)"></app-modal-delete>

  <!-- MODALE EDIT -->

  <app-modal-edit [(isEdit)]="showEdit" [formMovementData]="this.editForm" [type]="this.editType" (editResult)="edit($event)"></app-modal-edit>

  <!-- SHOW NOTE -->

  <div class="purseViewer" *ngIf="this.showMask">

    <div class="purseBoxBar">

      <div class="purseOption">
        <button (click)="openDelete(currentMovement.id_movement)">
          <i class='bx bx-trash-alt' ></i>
        </button>
        <button (click)="openEdit(currentMovement)">
          <i class='bx bx-edit-alt' ></i>
        </button>
      </div>

      <div class="btn-close">
        <button (click)="closeMovement()">
          <i class='bx bx-x'></i>
        </button>
      </div>

    </div>

    <div class="left div-btn">
      <button class="arrow-note-btn" (click)="prev(currentIndex)" [hidden]="currentIndex == 0">
        <i class='bx bxs-left-arrow icon-lightbox-gallery icon-prev'></i>
      </button>
    </div>


    <div class="purseBoxViewer">

      <div class="purseBoxHeader" [ngClass]="currentIncomeState ? 'income' : 'outcome' ">
        <span>{{currentMovement.amount}} €</span>
        <span>Movement #{{currentIndex + 1}}</span>
      </div>

      <textarea disabled>{{currentMovement.object}}</textarea>

      <span class="date">{{currentMovement.created}}</span>

    </div>

    <div class="right div-btn">
      <button class="arrow-note-btn" (click)="next(currentIndex)" [hidden]="currentIndex == this.movements.length - 1">
        <i class='bx bxs-right-arrow icon-lightbox-gallery icon-next'></i>
      </button>
    </div>


  </div>

  <div class="wrapper" id="formMovements">

    <h1>Purse</h1>

    <button (click)="openMovementForm()">
      <span *ngIf="!isOpen">
        <i class='bx bx-plus-medical'></i>
        Add movement
      </span>
      <span *ngIf="isOpen">
        <i class='bx bx-x'></i>
        Close
      </span>
    </button>

    <form #formDirective="ngForm" [formGroup]="movementForm" *ngIf="isOpen" (ngSubmit)="createMovement(movementForm.value)" novalidate>

      <div class="input-box">
        <input type="text" placeholder="Object" formControlName="object" required>
      </div>

      <div class="input-box">
        <input type="number" step="0.01" placeholder="Amount" formControlName="amount" required>
      </div>


      <button type="submit" [disabled]="!movementForm.valid">Create</button>

    </form>
  </div>

  <div class="wrapperMovements">

  <ng-container *ngIf="!check">
      <div class="noMovements">No movements yet</div>
  </ng-container>

  <div class="amount" *ngIf="check">
    <div class="totalAmount" [ngClass]="positive ? 'positiveTotal' : 'negativeTotal' ">Total: <span>{{this.total}} €</span></div>
    <div class="in-out-amount">
      <span class="incomeTotal">Income: {{this.totalIncome}} €</span>
      <span class="outcomeTotal">Outcome: {{this.totalOutcome}} €</span>
    </div>
  </div>

  <div class="displayMovements" *ngIf="check">

    <div class="movement" *ngFor="let movement of movements | slice:leftExtrem:rightExtrem + 1; index as noteNumber;">

      <div class="movement-header" [ngClass]="movement.income ? 'income' : 'outcome' ">
        <span>{{movement.amount}} €</span>
        <span class="movement-num">Movement #{{noteNumber + 1 + leftExtrem}}</span>
      </div>

      <div class="movement-text" (click)="openMovement(noteNumber)">{{movement.object}}</div>

      <div class="bottomNote">

        <button style="width: 74px;"  (click)="openDelete(movement.id_movement)">
          <i class='bx bx-x-circle'></i> Delete
        </button>

        <button (click)="openEdit(movement)">Edit</button>

      </div>
    </div>
  </div>

  <div class="pageNumbers">
    <div *ngFor="let page of pages; index as pageNumber">
      <button class="pageButton" (click)="changePage(pageNumber, 'click')">{{pageNumber + 1}}</button>
    </div>
  </div>

</div>

</div>
