<div class="page">
  <div class="wrapper">
    <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>

      <h1>Register</h1>

      <div class="input-box">
        <input type="email" placeholder="Email" formControlName="email" required>
        <i class='bx bx-envelope' ></i>
      </div>

      <div class="input-box">
        <input type="text" placeholder="User name" formControlName="name" required>
        <i class='bx bx-user' ></i>
      </div>

      <div class="input-box">
        <input type="password" placeholder="Password" formControlName="password" required>
        <i class='bx bx-lock-alt' ></i>
      </div>

      <button type="submit" [disabled]="!registerForm.valid">Register</button>

    </form>
  </div>
</div>
