  <div class="page">

<!-- NAVBAR ARCHIVE -->
    <div class="navBar">
      <div style="display: flex;">
        <a class="navBarItem" *ngFor="let navItem of navDataArchive" [routerLink]="navItem.routeLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
          >
          <i style="padding: 0 5px;" [class]="navItem.icon"></i>
          <span style="padding-right: 5px;">
            {{navItem.label}}
          </span>
        </a>
      </div>
    </div>

    <div *ngIf="checkRoute" class="contentPage">

      <!-- LAST IMAGES -->

      <div class="lastImages">

        <span *ngIf="!checkImages">This are your last uploaded images</span>
        <span *ngIf="checkImages">No uploaded images</span>

        <div *ngIf="!checkImages" class="displayLastImages">

          <div class="imageContainer firstImage">
            <img src={{lastImages[0].path}} alt={{lastImages[0].name}}>
          </div>

          <div class="imageContainer" *ngFor="let image of lastImages | slice:1:4">
            <img src={{image.path}} alt={{image.name}}>
          </div>

        </div>

      </div>

      <!-- LAST DOCUMENTS -->

      <div></div>

    </div>

    <router-outlet></router-outlet>

  </div>
